@import "./light-theme.scss";
@import "./dark-theme.scss";



/*----------------------------Light Theme Start-----------------------*/
.light{

  #welcome-page{
    background-image: linear-gradient(to right top, $light-sec-main,$light-sec-main, $light-main);
  }
  


}
/*----------------------------Light Theme End-----------------------*/


/*----------------------------Dark Theme Start-----------------------*/
.dark{
  color: $dark-text;
  background-color: $dark-main;
  #welcome-page{
  background-image: linear-gradient(to right top, $dark-btn, $dark-main);
    #form{
      background-color: $dark-main-opa;
      
    }
  }

} 
/*----------------------------Dark Theme Endt-----------------------*/


.main{
  font-size: 24px;
  #welcome-page{
    width: 100svw;
    height: 100svh;
    #welcome-group{
      display: grid;
      position: absolute;
      left: 50%;
      top: 20%;
      transform: translate(-50%, -20%);
      width: clamp(200px, 70%, 5000px);
      justify-content: center;
      gap: 3em;
      #welcome-text{
        font-size: 2.5em;
        text-align: center;
      }
      #form{
        border-radius: 20px;
        padding: 2em 1.5em;
        #login-form{
          display: grid;
          justify-content: center;
          text-align: center;
          .form-h2{
            margin-top: 0.5em;
            margin-bottom: 2em;
          }
          #lpsw{
            margin-top: 1em;
            margin-bottom: 1em;
          }
          #lbtn{
            width: 40%;
            margin: auto;
            border-radius: 15px;
            padding: 0.7em;
            background-color: $dark-btn;
            color: $dark-text;
            border: 1px solid $dark-text;
            cursor: pointer;
            font-family: 'Quicksand', sans-serif;
            &:hover{
              background-color: $dark-btn-hov;
            }
          }
          #lname{
            margin-top: 2em;
            margin-bottom: 1em;
          }
          
          input{
            border-radius: 30px;
            padding: 0.7em;
            outline: none;
            border: 1px solid $dark-btn;
          }
          input::placeholder{
            font-family: 'Quicksand', sans-serif;
          }
          input:focus{
            outline: none;
          }
          .form-text{
            font-size: 0.7em;
            margin-top: 2em
            
          }
          .error-message{
            margin-top: 0.5em;
            color: $error-red;
          }
          .form-text:hover{
            cursor: pointer;
            text-decoration: underline;
          }
          .demo{
            margin-top: 1em;
          }
        }
      }
    }
  }
  #main-content{
    width: 100svw;
    height: 100svh;
    #navbar{
      position: fixed;
      height: 100%;
      width: clamp(6em, 30%, 15em);
      background-color: $dark-btn;
      padding: 1em;
      padding-bottom: 0;
      display: grid;
      align-content: space-between;
      #nav-switch{
        position: absolute;
        top: 0.5em;
        right: 0.5em;
        &:hover{
          cursor: pointer;
        }
      }
      #navbar-logoff{
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 3em;
        #user-logoff{
          
          &:hover{
            cursor: pointer;
          }
        }
      }
      #navbar-element-container{
        display: grid;
        gap: 1.5em;
        margin-top: 2em;
        .navbar-element{
          width: fit-content;
          &:hover{
            cursor: pointer;
          }
        }
      }
    }
  }
}
.form-h2{
  font-size: 0.6em;
}

