@import "./light-theme.scss";
@import "./dark-theme.scss";



/*----------------------------Light Theme Start-----------------------*/
.light{

  #welcome-page{
    background-image: linear-gradient(to right top, $light-sec-main,$light-sec-main, $light-main);
  }
  


}
/*----------------------------Light Theme End-----------------------*/


/*----------------------------Dark Theme Start-----------------------*/
.dark{
  color: $dark-text;
  background-color: $dark-main;
  #welcome-page{
  background-image: linear-gradient(to right top, $dark-btn, $dark-main);
    #form{
      background-color: $dark-main-opa;
      #login-form{
        #lbtn{
          background-color: $dark-btn;
          color: $dark-text;
          border: 1px solid $dark-text;
          &:hover{
            filter: brightness(.9);
          }
        }
        input{
          border: 1px solid $dark-btn;
        }
        .error-message{
          color: $error-red;
        }
      }
    }
  }
  #main-content{
    #navbar{
      -webkit-box-shadow: 3px 0px 5px 2px rgba(111,52,255,0.6); 
      box-shadow: 3px 0px 5px 2px rgba(111,52,255,0.6);
      background-color: $dark-btn;
    }
    #nav-open{
      background-color: $dark-btn;
      &:hover{
        filter:brightness(.9)
      }
    }
    #dashboard{
      #dash-header{
        border-bottom: 2px solid $dark-main-opa;
      }
      #dash-content{
        .change-form{
          background-color: $dark-btn;
        }
        .dash-content-child{
          border: 2px solid $dark-main-opa;
          .total-btn{
            border-top: 2px solid $dark-main-opa;
          }
        }
      }
    }
  }
} 
/*----------------------------Dark Theme End-----------------------*/


.main{
  overflow-x: hidden;
  font-size: 24px;
  #welcome-page{
    width: 100svw;
    height: 100svh;
    #welcome-group{
      display: grid;
      position: absolute;
      left: 50%;
      top: 20%;
      transform: translate(-50%, -20%);
      width: clamp(200px, 70%, 5000px);
      justify-content: center;
      gap: 3em;
      #welcome-text{
        font-size: 2.5em;
        text-align: center;
      }
      #form{
        border-radius: 20px;
        padding: 2em 1.5em;
        #login-form{
          display: grid;
          justify-content: center;
          text-align: center;
          .form-h2{
            margin-top: 0.5em;
            margin-bottom: 2em;
          }
          #lpsw{
            margin-top: 1em;
            margin-bottom: 1em;
          }
          #lbtn{
            width: 40%;
            margin: auto;
            border-radius: 15px;
            padding: 0.7em;
            cursor: pointer;
            font-family: 'Quicksand', sans-serif;
          }
          #lname{
            margin-top: 2em;
            margin-bottom: 1em;
          }
          
          input{
            border-radius: 30px;
            padding: 0.7em;
            outline: none;
          }
          input::placeholder{
            font-family: 'Quicksand', sans-serif;
          }
          input:focus{
            outline: none;
          }
          .form-text{
            font-size: 0.7em;
            margin-top: 2em
            
          }
          .error-message{
            margin-top: 0.5em;
          }
          .form-text:hover{
            cursor: pointer;
            text-decoration: underline;
          }
          .demo{
            margin-top: 1em;
          }
        }
      }
    }
  }
  #main-content{
    width: 100svw;
    height: 100vh;
    #navbar{
      position:fixed;
      height: 100%;
      padding: 1em;
      padding-bottom: 0;
      display: grid;
      align-content: space-between;
      animation: navopen linear .4s;
      z-index: 100;
      #nav-switch{
        position: absolute;
        top: 1em;
        right: 0.5em;
        &:hover{
          cursor: pointer;
        }
      }
      #navbar-logoff{
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 3em;
        #user-logoff{
          #logoff-svg{
            height: 30px;
          }
          &:hover{
            cursor: pointer;
          }
        }
      }
      #navbar-element-container{
        display: grid;
        gap: 1.5em;
        margin-right: 3em;
        margin-top: 2em;
        padding-bottom: 1em;
        overflow: hidden;
        .navbar-element{
          width: fit-content;
          &:hover{
            cursor: pointer;
          }
        }
      }
    }
    #nav-open{
      position: fixed;
      top: 1em;
      left: 1em;
      z-index: 100;
      width: 1.5em;
      height: 1.5em;
      border-radius: 50%;
      animation: navclose linear .5s;
      &:hover{
        cursor: pointer;
      }
      p{
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
      }
    }
    #dashboard{
      height: 100%;
      max-width: 3000px;
      margin: auto;
      padding-top: 3em;
      padding-left: clamp(1em, 5%, 3em);
      padding-right: clamp(1em, 10%, 15em);
      #loader {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        margin: auto;
        width: 56px;
        height: 56px;
        border-radius: 50%;
        background: conic-gradient(#0000 10%,#474bff);
        -webkit-mask: radial-gradient(farthest-side,#0000 calc(100% - 9px),#000 0);
        animation: loader 1s infinite linear;
     }
     
      #dash-header{
        display: flex;
        width: 100%;
        justify-content: space-between;
        align-items: center;
        padding-bottom: 1em;
        #dash-welcome{
          display: grid;
          gap: 0.5em;
          h1{
            font-size: 2.7em;
          }
          h2{
            font-size: 1em;
            filter: contrast(.3);
          }
        }
      }
      #dash-content{
        margin-top: 2em;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
        grid-column-gap: 3em;
        grid-row-gap: 3em;
        align-items: center;
        .dash-content-child{
          position: relative;
          .total-money-container{
            margin: 1.5em;
            .total-title{
              font-size: 0.7em;
              filter: contrast(.8);
            }
            .total-money{
              font-size: 1.5em;
              margin: .5em 1em;
            }
          }
          .total-btn{
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: 1em;
            margin: 0;
            &:hover{
              cursor: pointer;
              transition: .5s;
              background-color: $dark-btn;
            }
          }
          .img-holder{
           
            position: absolute;
            top: 1em;
            right: 2em;
            .arrow-img{
              width: 30px;
             
            }
            .down{
              border-bottom: 2px solid $error-red;
            }
            .up{
              border-bottom: 2px solid #77dd77;
            }
          }
        }
        #dash-add-container{
          grid-area: 1 / 1 / 2 / 2;
        }
        #dash-remove-container{
          grid-area: 1 / 2 / 2 / 3;
        }
        #dash-graph-container{
          grid-area: 2 / 1 / 3 / 3;
          width: 100%;
          height: 99%;
          animation: none;
          transition: none;
          padding: 0;
          #canvasRef{
            animation: none;
            transition: none;
            width: 100%;
          }
        }
        .change-form{
          z-index: 110;
          border-radius: 20px;
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          padding: 3em 2em;
          display: grid;
          gap: 1em;
          .form-container{
            display: flex;
            justify-content: space-between;
            gap: 1em;
            align-items: center;
            .change-option{
              font-family: 'Quicksand', sans-serif;
              border-radius: 30px;
              padding: 0.7em;
              
            }
          }
          .change-btn-container{
            padding: 0em 2em;
            .change-btn{
              border-radius: 20px;
              padding: .8em;
              font-family: 'Quicksand', sans-serif;
              &:hover{
                cursor: pointer;
                filter: brightness(.9);
              }
            }
            display: flex;
            justify-content: space-between;
          }
         
          input{
            border-radius: 30px;
            padding: 0.7em;
            outline: none;
            &::placeholder{
              font-family: 'Quicksand', sans-serif;
            }
            &:focus{
              outline: none;
            }
            &[type=number]::-webkit-inner-spin-button, 
            input[type=number]::-webkit-outer-spin-button { 
              -webkit-appearance: none; 
              margin: 0; 
            }
          }
        }
      }
    }
    .overlay{
      position: fixed;
      width: 150svw;
      height: 150svh;
      top: 0;
      left: 0;
      z-index: 105;
      overflow: hidden;
      background-color: #000;
      opacity: .6;
    }
    .overlay-nav-open{
      position: fixed;
      width: 150svw;
      height: 150svh;
      top: 0;
      left: 0;
      z-index: 90;
      overflow: hidden;
      background-color: #000;
      opacity: .6;
    }
  }
}
.form-h2{
  font-size: 0.6em;
}


@media (max-width:1250px) {
  .main{
    #main-content{
      #dashboard{
        #dash-header{
          #dash-welcome{
            h1{
              font-size: 2em;
            }
            h2{
              font-size: .7em;
            }
          }
        }
        #dash-content{
          grid-column-gap: 1em;
          grid-row-gap: 1em;
        }
      }
    }
  }
}
@media (max-width:800px) {
  .main{
    #main-content{
      #dashboard{
        #dash-header{
          flex-direction: column;
          align-items:flex-start;
          justify-content: flex-start;
          gap: 1em;
          #dash-welcome{
            h1{
              font-size: 1em;
            }
            h2{
              font-size: .7em;
            }
          }
        }
        #dash-content{
          display: flex;
          flex-direction: column;
          gap: 1em;
          .change-form{
            padding: 2.5em 1em;
            .form-container{
              flex-direction: column;
              gap: .5em;
            }
            .change-btn-container{
              padding: 0;
            }
          }
          .dash-content-child{
            .total-money-container{
              margin: .5em;
              .total-title{
                font-size: 0.7em;
                filter: contrast(.8);
              }
              .total-money{
                font-size: 1em;
                margin: .5em .5em;
                .currency{
                  font-size: .8em;
                }
              }
            }
            .total-btn{
              font-size: .7em;
            }
            .img-holder{
              position: absolute;
              top: 1em;
              right: 1em;
              .arrow-img{
                width: 30px;
              }
            }
          }
          #dash-add-container{
            width: 100%;
            min-width: 230px;
          }
          #dash-remove-container{
            width: 100%;
            min-width: 230px;
          }
        }
      }
    }
  }
}
@keyframes navopen {
  0%{
    width: 0;
  }
  50%{
    width: 5em;
  }
  100%{
    width: 10em;
  }
}
@keyframes navclose {
  0%{
    left: 10em;
  }
  50%{
    left: 5em;
  }
  100%{
    left: 1em;
  }
}
@keyframes loader {
  to {
     transform: rotate(1turn);
  }
}
